@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/*-----INICIO DE SESION------*/
.login{
    background-image: url(/assets/img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}

/* Estilo del fondo negro semitransparente */
.fondo-negro {
    background-color: rgba(0, 0, 0, 0.5); /* Negro semitransparente */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilo del contenedor del formulario */
  .contenedor-formulario {
    color: rgb(255, 255, 255);
    width: 80vh;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px;
    border-radius: 20px;
    text-align: center;
  }
  
  /* Estilo para el formulario */
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  
  /* Estilo para los elementos del formulario */
  label, input {
    margin: 8px auto;
    width: calc(100% -20px);
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 12px;
  }

input[type="submit"]{
    width: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-image: linear-gradient(to left,#656FCD, #461E56);
    border: none;
}
/*-----REGISTRO-----*/
.register{
    background-image: url(/assets/img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}

/*-----LANDING PAGE-----*/
#navprincipal {
  background-color: rgb(119, 69, 170);
  background-size: cover;
  width: 99vw;
  height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom, rgb(119, 69, 170), #000000);
}

#logonav {
  margin: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99vw;
  height: 1vh;
}
#logonavprincipal {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 48px;
  height: 50px;
}

.logo img {
  width: 200px;
}

.logomorado {
  position: absolute;
  top: 30vh;
  left: 38vh;
}
.logomorado img {
  width: 50vh;
}

#imgcel {
  position: absolute;
  top: -45vh;
}

.navprincipal button {
  background-color: rgba(28, 28, 29, 0.5);
}

#loginboton {
  background-color: #17171863;
  color: #fff;
  font-size: 100%;
  font-family: "Inter", sans-serif;
  margin-top: 4rem;
  margin-right: 0rem;
  margin-left: 50rem;
  width: 15%;
  height: 60px;
  border-radius: 10px;
  border: none;
}

#registroboton {
  background-color: #17171863;
  color: #fff;
  font-size: 100%;
  font-family: Inter;
  margin-top: 4rem;
  margin-right: 5rem;
  margin-left: 2rem;
  width: 15%;
  height: 60px;
  border-radius: 10px;
  border: none;
}

#contenedor-cel {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  transform: translateX(20vh);
}

.contenedor-bienvenida {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20rem;
  margin-top: 5rem;
  width: 50%;
  font-family: Inter;
}
.contenedor-bienvenida .contenedorb1 {
  margin-top: 22vh;
}
.contenedor-bienvenida p {
  margin-left: 200px;
  color: white;
  font-size: 25px;
  text-align: center;
}

#bienvenida {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  margin-left: 200px;
  margin-top: 0;
}

#bienvenida1 {
  color: #fff;
  font-size: 25px;
  margin-left: 0rem;
  font-weight: 500;
  margin-top: 0;
  display: inline-block;
  width: 50%;
}

#imgcel {
  position: absolute;
  width: 450px;
  margin-left: 80rem;
  margin-top: -5rem;
}
#laptopimg {
  position: absolute;
  width: 450px;
  margin-left: 80rem;
  margin-top: -10rem;
}

#foldersimg {
  position: absolute;
  width: 450px;
  margin-left: 80rem;
  margin-top: -18rem;
}

.contenedor-bienvenida .info {
  text-align: center;
  color: white;
  margin-top: 120px;
  font-family: "Inter", sans-serif;
}

.contenedor-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
  width: 100%;
}
.contenedor-bienvenida .info h3 {
  font-weight: bold;
  margin-left: 200px;
  color: white;
  font-size: 25px;
  text-align: center;
}

.contenedor-info .info2 {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  color: white;
  text-align: center;
}

.contenedor-info .info2 h3 {
  font-weight: bold;
  color: white;
  font-size: 25px;
}

.contenedor-info img {
  width: 40rem;
}

.contenedor-planes {
  font-family: "Inter", sans-serif;
  color: white;
  width: 100%;
  margin-top: 8rem;
  text-align: center;
}

.contenedor-planes .planes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  margin-top: 50px;
}

.plan {
  text-align: center;
  padding: 40px;
  border: 1px solid black;
  border-radius: 15px;
  width: 26%;
  background-image: linear-gradient(to bottom, #7544a8, black);
}

.plan h2 {
  font-size: 25px;
}
.plan p {
  font-size: 20px;
}

.boton {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 12px;
  text-decoration: none;
  background-color: rgb(119, 69, 170);
  color: white;
  border-radius: 4px;
}

.landingfooter {
  font-family: "Inter", sans-serif;
  text-align: center;
  justify-content: center;
  color: white;
  width: 100%;
}

.landingfooter .logo {
  width: 100%;
  height: auto;
  display: block;
}

.landingfooter .logo img {
  width: 15%;
}

.landingfooter .copyright {
  margin-top: 15vh;
  margin-right: 150vh;
}
.landingfooter .logo p {
  font-weight: bold;
  margin-top: -15px;
}

/*-----Pantalla principal-----*/
#contenedor-search{
  background-color: rgb(0, 0, 0);
  background-size: cover;
  width: 99vw;
  height: vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-label{
  width: 70vw;
  height: 55px;
  border-radius: 30px;
  background-color: rgb(214, 211, 218);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
  margin-top: 15vh;
}
#search{
  margin: 12px auto;
  color: rgb(0, 0, 0);
  width: 90%;
  margin-left: 0%;
  background: transparent;
  border: 0px solid;
  font-family: Inter;
  font-size: 1.2rem;
}

.opcion-user{
    background-color: #000000;
    color: #fff;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    font-size: 4rem;
    margin-left: 4rem;
    margin-top: 15vh;
  
}

.lupita{
  color: #000000;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  font-size: 1.7rem;

}

#contenedor-carpetas{
  width: 99vw;
  height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: auto;
  text-align: center;
  margin-top: 5rem;

}

.contenedor-carpetas .infocarpetas {
  color: white;
  margin-top: 7rem;
  margin-left:13rem;
  font-family: "Inter";
}

input[type="button"]{
  width: 25rem;
  margin-top: 20px;
  margin-left:13rem;
  height: 2.563rem;
  display: flex;
  justify-content: left;
  padding-left: 20px;
  cursor: pointer;
  background-color: rgb(53, 49, 60);
  border: none;
  font-family: Inter;
  font-size: 17px;
  color: #fff;
  position: relative;
}

#botonCrearCarpeta{
  width: 130px;
  margin-top: 20px;
  margin-left:13rem;
  height: 3.4rem;
  display: flex;
  justify-content: left;
  padding-left: 15px;
  cursor: pointer;
  background-color: rgb(139, 145, 189);
  border: none;
  border-radius: 10px;
  font-family: Inter;
  font-size: 17px;
  color: #fff;
  position: relative;
  
}

#buttonFile{
  width: 130px;
  margin-top: 20px;
  margin-left:13rem;
  height: 3.4rem;
  display: flex;
  justify-content: left;
  padding-left: 15px;
  cursor: pointer;
  background-color: rgb(139, 145, 189);
  border: none;
  border-radius: 10px;
  font-family: Inter;
  font-size: 17px;
  color: #fff;
  position: relative;
  
}

/*-----Pantalla de archivos-----*/

#contenedor-archivos{
  width: 99vw;
  height: 99vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: auto;
  text-align: center;
  margin-top: 5rem;

}

.mi-clase-prompt{
  font-family: Inter;
  color: #000000;
}

.contenedor-archivos .infoarchivos {
  color: white;
  margin-top: 7rem;
  margin-left:13rem;
  font-family: "Inter";
  justify-content: space-between;
}

.contenedor-archivos .infofiles {
  color: white;
  margin-top: 10rem;
  margin-left:30rem;
  font-family: "Inter";
  font-size: 14px;
  justify-content: center;
}

.share{
  color: #ffffff;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-left: -8rem;
  margin-top: -3.8rem;
 font-size: 3.2rem;
}

input[type="buttonfile"]{
  width: 150px;
  margin-top: 20px;
  margin-left:13rem;
  height: 3.4rem;
  display: flex;
  justify-content: left;
  padding-left: 20px;
  cursor: pointer;
  background-color: rgb(139, 145, 189);
  border: none;
  font-family: Inter;
  font-size: 17px;
  color: #fff;
  position: relative;
  
}

.file {
  width: 48px;
  height: 50px;
 
}

.file img {
  width: 200px;
  justify-content: center;
  margin-left: 34rem;
}

/*-----Pantalla del editor-----*/


select {
  background-color: #beabf3;
  border-radius: 14px;
  width: 30%;
  padding: 10px;
  font-family: Inter;
  font-size: 16px;
  margin-left: 0.5rem;
  color: #000000;

}

option {
  background-color: rgb(211, 192, 192);
  color: #000000;
  font-size: 14px;
  font-weight: bolder;
}

#editor{
  padding: 10px;
  background-color: rgb(53, 49, 60);
  font-size: 16px;
  font-family: Inter;
  color: #ffffff;
  border-radius: 5px;
  width: 70vw;
  height: 85vh;
  margin-left: 0.5rem;
  margin-top: 2rem;
}

/*-----Pantalla de los archivos dentro de una carpeta-----*/

#contenedor-archivos1{
  width: 99vw;
  height: 99vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: auto;
  text-align: center;
  margin-top: 5rem;
  justify-content: space-between;
  margin-left: 100%;

}

.contenedor-archivos1 .infoarchivos1 {
  color: white;
  margin-top: 7rem;
  margin-left:13rem;
  font-family: "Inter";
  
  
}

input[type="buttonarchivo"]{
  width: 400px;
  margin-top: 2rem;
  margin-left:13rem;
  height: 211px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10rem;
  padding-left: 1.5rem;
  cursor: pointer;
  background-color: rgb(53, 49, 60);
  border: none;
  font-family: Inter;
  font-size: 17px;
  color: #fff;
  position: relative;
 }

 input[type="buttonarchivo2"]{
  width: 400px;
  margin-top: -36.6rem;
  margin-right:13rem;
  height: 211px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10rem;
  padding-left: 1.5rem;
  cursor: pointer;
  background-color: rgb(53, 49, 60);
  border: none;
  font-family: Inter;
  font-size: 17px;
  color: #fff;
  position: relative;
 }




#contenedor-archivos2{
  width: 100%;
  height: 99vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  text-align: center;
  margin-top: 5rem;
  justify-content: space-between;
  margin-left: 100%;

  

}

#contenedor-carpetas1{
  width: 99vw;
  height: 20vh;
  display: flex;
  align-items: center;
  padding-left: 10rem;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: auto;
  text-align: center;
  margin-top: 5rem;
  margin-left: 20rem;

}

input[type="buttonc"]{
  width: 25rem;
  margin-top: -20rem;
  margin-right: 10rem;
  height: 2.563rem;
  display: flex;
  justify-content: right;
  padding-left: 20px;
  cursor: pointer;
  background-color: rgb(53, 49, 60);
  border: none;
  font-family: Inter;
  font-size: 17px;
  color: #fff;
  position: relative;
}
