@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/*-----LANDING PAGE-----*/
#navprincipal {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    width: 99vw;
    height: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(255, 255, 255),  #000000);
  }

  #logonav {
    margin: 12px;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99vw;
    height: 1vh;
  }
  #logonavprincipal {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    width: 10rem;
    height: 5rempx;
    margin-top: 1rem;
  }
  
  .logo img {
    width: 23rem;
  }

  .logo1 {
    position: absolute;
    left: 50vh;

  }
  .logo1 img {
    width: 500rem;
    margin-top: 15rem;
    margin-left: -30.3rem;
  }

  .navprincipal button {
    background-color: rgba(28, 28, 29, 0.5);
  }
  
  #loginboton {
    background-color: #17171863;
    color: #fff;
    font-size: 100%;
    font-family: "Inter", sans-serif;
    margin-top: 2rem;
    margin-right: 5rem;
    margin-left: 50rem;
    width: 15%;
    height: 60px;
    border-radius: 10px;
    border: none;
  }

  #contenedor-img {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    transform: translateX(20vh);
  }
  
  .contenedor-bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10rem;
    margin-top: 3rem;
    width: 50%;
  }
  .contenedor-bienvenida .contenedorb1 {
    margin-top: 15vh;
    margin-left: -50px;
    font-family: "Inter", sans-serif;
    text-align: center;
  }
  .contenedor-bienvenida p {
    margin-left: 200px;
    color: white;
    font-size: 25px;
    text-align: center;
  }

  #bienvenida {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 148px;
    margin-top: 0;
    font-family: "Inter", sans-serif;
    
  }

  #bienvenida2 {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 0;
    font-family: "Inter", sans-serif;
  }

  .contenedor-bienvenida .info {
    text-align: center;
    color: white;
    margin-top: 120px;
    font-family: "Inter", sans-serif;
  }
  
  .contenedor-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    width: 100%;
  }

  
#imgcel {
  position: absolute;
  width: 60rem;
  margin-left: 70rem;
  margin-top: -30rem;
}

/*-----INICIO DE SESION------*/

.login{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  
}

/* Estilo del fondo negro semitransparente */
.fondo-negro {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo del contenedor del formulario */
.contenedor-formulario {
  color: white;
  width: 65vh;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 27px;
  border-radius: 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
  margin-top: 36rem;
  margin-left: -11rem;
}

 /* Estilo para el formulario */
 form {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

/* Estilo para los elementos del formulario */
label, input {
  margin: 8px auto;
  width: calc(100% 10px);
  padding: 8px;
  box-sizing: border-box;
  width: 24rem;
  display: flex;
  align-items: center;
  border-radius: 12px;
}

input[type="submit"]{
  width: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-image: linear-gradient(to left,#2a2a2b, #f2eef3);
  border: none;
}

/*-----Pantalla principal-----*/
#contenedor-search{
  background-color: rgb(0, 0, 0);
  background-size: cover;
  width: 99vw;
  height: vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-label{
  width: 70vw;
  height: 55px;
  border-radius: 30px;
  background-color: rgb(214, 211, 218);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
  margin-top: 15vh;
}
#search{
  margin: 12px auto;
  color: rgb(0, 0, 0);
  width: 90%;
  margin-left: 0%;
  background: transparent;
  border: 0px solid;
  font-family: Inter;
  font-size: 1.2rem;
}

.opcion-user{
    background-color: #000000;
    color: #fff;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    font-size: 4rem;
    margin-left: 4rem;
    margin-top: 15vh;
  
}

.lupita{
  color: #000000;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  font-size: 1.7rem;

}

#contenedor-carpetas{
  width: 99vw;
  height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: auto;
  text-align: center;
  margin-top: 5rem;

}

.contenedor-carpetas .infocarpetas {
  color: white;
  margin-top: 7rem;
  margin-left:13rem;
  font-family: "Inter";
}

input[type="button"]{
  width: 25rem;
  margin-top: 20px;
  margin-left:13rem;
  height: 2.563rem;
  display: flex;
  justify-content: left;
  padding-left: 20px;
  cursor: pointer;
  background-color: rgb(53, 49, 60);
  border: none;
  font-family: Inter;
  font-size: 17px;
  color: #fff;
  position: relative;
}

#botonCrearCarpeta{
  width: 130px;
  margin-top: 20px;
  margin-left:13rem;
  height: 3.4rem;
  display: flex;
  justify-content: left;
  padding-left: 15px;
  cursor: pointer;
  background-color: rgb(139, 145, 189);
  border: none;
  border-radius: 10px;
  font-family: Inter;
  font-size: 17px;
  color: #fff;
  position: relative;
  
}

#buttonFile{
  width: 130px;
  margin-top: 20px;
  margin-left:13rem;
  height: 3.4rem;
  display: flex;
  justify-content: left;
  padding-left: 15px;
  cursor: pointer;
  background-color: rgb(139, 145, 189);
  border: none;
  border-radius: 10px;
  font-family: Inter;
  font-size: 17px;
  color: #fff;
  position: relative;
  
}

#img1nav {
  margin: 12px;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99vw;
  height: 1vh;
}
#img1navprincipal {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.img1 {
  width: 10rem;
  height: 5rempx;
  margin-top: -25rem;
  margin-right: 2rem;
  margin-left: 40rem;
}

.img1 img {
  width: 30rem;
  
}

/*-----Información del demandado-----*/
#navprincipal1 {
  background-color: rgb(255, 255, 255);
  background-size: cover;
  width: 99vw;
  height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom, rgb(255, 255, 255),  #1d1e42);
}

.navprincipal1 .infotitulo1 {
  color: rgb(94, 82, 82);
  margin-top: 7rem;
  margin-left:13rem;
  font-family: "Inter", sans-serif;
}

#navprincipal1 h1 {
  font-family: "Inter", sans-serif;
  font-size: 5vh;
  color: rgb(51, 55, 119);
  font-weight: bold;
  text-align: left;
  margin-left: -35rem;
}

#logonav1 {
  margin: 12px;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99vw;
  height: 1vh;
}
#logonav1principal {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo1 {
  width: 10rem;
  height: 5rempx;
  margin-top: -25rem;
  margin-left: 70rem;
}

.logo1 img {
  width: 23rem;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 3vh;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-left: 5.5rem;
}

#navnombre1 {
  background-color: rgb(255, 255, 255);
  background-size: cover;
  width: 99vw;
  height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background:   #1d1e42;
}

#navnombre1 h3 {
  font-family: "Inter", sans-serif;
  font-size: 3vh;
  color: #ffffff;
  text-align: left;
  margin-left: -35rem;
}

#navnombre1 input[type="text"] {
  color: #333;
  font-size: 16px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  width: 200px;
  margin-left: 5.7rem;
}

#navapellido1 {
  background-color: rgb(255, 255, 255);
  width: 30vw;
  height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background:   #1d1e42;
  margin-left: 24rem;
  margin-top: -8rem;
}

#navapellido1 h3 {
  font-family: "Inter", sans-serif;
  font-size: 3vh;
  color: #ffffff;
  text-align: left;
  margin-left: 3.9rem;
}

#navapellido1 input[type="text"] {
  color: #333;
  font-size: 16px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  width: 200px;
  margin-left: 5.7rem;
}

#navgenero1 {
  background-color: rgb(255, 255, 255);
  width: 99vw;
  height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background:   #1d1e42;
  margin-left: 24rem;
  margin-top: -8rem;
}

#navgenero1 h3 {
  font-family: "Inter", sans-serif;
  font-size: 3vh;
  color: #ffffff;
  text-align: left;
  margin-left: -35rem;
}

#navgenero1 input[type="radio"] {
  display: none;
}

#navgenero1 label {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 10px;
}

#navgenero1 input[type="radio"] + label::before {
  content: "";
  display: inline-flexbox;
  width: 20px;
  height: 20px;
  margin-left: -2rem;
  background-color: #fff;
  border: 2px solid #7b75b1;
  border-radius: 50%; 
  vertical-align: middle;
  margin-right: 10px;
}

#navgenero1 input[type="radio"]:checked + label::before {
  background-color: #4f3e9c;
}

#navID1 {
  background-color: rgb(255, 255, 255);
  width: 20vw;
  height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background:   #1d1e42;
  margin-left: -48rem;
  margin-top: -8rem;
}

#navID1 h3 {
  font-family: "Inter", sans-serif;
  font-size: 3vh;
  color: #ffffff;
  text-align: left;
  margin-left: -35rem;
}

#navID1 input[type="text"] {
  color: #333;
  font-size: 16px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  width: 200px;
  margin-left: -26.9rem;
}

#navsex1 {
  background-color: rgb(255, 255, 255);
  width: 20vw;
  height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background:   #1d1e42;
  margin-left: -48rem;
  margin-top: -8rem;
}

#navsex1 h3 {
  font-family: "Inter", sans-serif;
  font-size: 3vh;
  color: #ffffff;
  text-align: left;
  margin-left: -6.5rem;
  margin-top: 1.88rem;
}

#navsex1 input[type="text"] {
  color: #333;
  font-size: 16px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  width: 200px;
  margin-left: -2.83rem;
  margin-top: 0.5rem;
}

#navdelitos1 {
  background-color: rgb(255, 255, 255);
  width: 20vw;
  height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background:   #1d1e42;
  margin-left: -48rem;
  margin-top: 2.6rem;
}

#navdelitos1 h3 {
  font-family: "Inter", sans-serif;
  font-size: 3vh;
  color: #ffffff;
  text-align: left;
  margin-left: -35rem;
}

#navdelitos1 input[type="text"] {
  color: #333;
  font-size: 16px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  width: 200px;
  margin-left: -26.9rem;
}

select {
  width: 200px; 
  padding: 8px; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  background-color: #7b75b1;
  margin-left: -58.6rem;

}

/* Estilos para las opciones */
option {
  font-size: 14px; /* Tamaño de fuente */
  font-family: "Inter" sans-serif;
  color: #ccc;
}
